.Home {
  background-image: url(../../img/memeback.png);
  min-height: 100vh;
}

.noHayMemes {
  font-size: 70px !important;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.float {
  position: fixed;
  width: 90px;
  height: 90px;
  bottom: 40px;
  right: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

@font-face {
  font-family: Balsamiq;
  src: url('../../fonts/BalsamiqSans-Regular.ttf');
}

body {
  font-family: 'Balsamiq'!important;
}