.divComTxt {
  font-size: 1.3em;
}
.divComUsr {
  font-size: 0.8em;
}

.ui.comments .reply.form textarea {
  height: 3em !important;
}

.ui.comments,
.ui.reply.form {
  background-color: #ffffff !important;
  padding: 10px;
  /*width: 83.333333%*/
  /*max-width: 850px;*/
  max-width: 100%;
}
