body {
    margin: 0;
}

#cielo {
    background-color: deepskyblue;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

#tierra {
    background-color: darkgreen;
    width: 100%;
    height: 10vh;
    text-align: center;
    position: fixed;
    border-top: solid 5px olivedrab;
}

.btnJugar {
    border-style: outset;
    border-width: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 10%;
    border-color: white;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(0%, -50%);
    font-size: 1.6em;
}

.globo0 {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: radial-gradient(red, black);
    position: fixed;
}

.globo1 {
    width: 5vw;
    height: 8vw;
    border-radius: 50%;
    background-image: radial-gradient(blue, black);
    position: fixed;
}

.globo2 {
    width: 7vw;
    height: 10vw;
    border-radius: 50%;
    background-image: radial-gradient(yellow, black);
    position: fixed;
}

#ganaste {
    margin: auto;
    font-size: 3em;
    text-align: center;
    border-radius: 5%;
    background-color: #0c9400;
    color: cornsilk;
    display: none;
    transform: translate(0%, 50%);
    border: 10px double #ffa65c;
    width: 70vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20vh;
    font-weight: 900;
    padding-bottom: 20vh;
}